*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-registrer{
    width: 95%;
    max-width: 500px;
    background: white;
    padding: 20px;
}

.form__title{
    margin-top: 0;
    font-size: 1.8em;
    text-align: center;
}

.form__label, .form__input{
    display: block;
}

.form__label{
    width: 30%;
}

.form__input{
    width: 70%;
    padding: 10px;
    font-size: 1em;
}

.container--flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__file{
    font-size: 1em;
    margin: 10px 0;
    width: 100%;
}

.form__submit{
    width: 100%;
    background: darkmagenta;
    padding: 10px;
    border: none;
    color: white;
    font-size: 1em;
    margin-top: 10px;
    cursor: pointer;
}