*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-registrer{
    width: 95%;
    max-width: 500px;
    background: white;
    padding: 20px;
}

.form__title{
    margin-top: 0;
    font-size: 1.8em;
    text-align: center;
}

.form__label, .form__input{
    display: block;
}

.form__label{
    width: 30%;
}

.form__label{
    width: 70%;
}